# Core app environment
# development:
# - local web: http://localhost:3000
# - Android emulator via Capacitor: http://10.0.2.2:3000
# production:
# - hosted app URL on Vercel
CAP_APP_ENV=development
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_PRODUCTION_APP_URL=https://fitpulse-am.vercel.app
CAP_ANDROID_DEV_SERVER_URL=http://10.0.2.2:3000
API_URL=http://localhost:3001
